# fly.toml app configuration file generated for myweb on 2025-11-10T10:12:36+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'myweb'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  args = {NEXT_PUBLIC_API_URL="https://ecanapi.fly.dev"}
  
[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
